.form__button{
    color: #ffffff;
    padding: 26px 90px;
    border-radius: 40px 0;
    background-color: #ffffff;
    background-image: linear-gradient(to right, #ad00ed 0%, #5500f2 100%);
    margin-top: 40px;
}    