.footer{
    padding:30px 0;
    color:#ffffff;
    background-color: #1f232d;
}

.footer__container{
    display:flex;
    justify-content:space-between
}

.footer__copyright{
    height:30%;

    @include tablets{
        width: 30%;
    }
}

.footer__data{
    width:60%;
}

.footer__menu{
    margin-bottom:30px;
}

.footer__data-columns{
    display: flex;
    opacity: 0.3;
}