.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-height:71px;
}

.header__menu{
    flex:1;
    display:flex;
    justify-content:center;
    margin:0 20px;
}
