.skills-row__title{
    margin-bottom:18px;
    font-weight:700;

    @include tablets{
        text-align:center;
    }
}

.skills-row__item{
    margin-right:40px;
    margin-bottom:50px;
}

.skills-row__list{
    display:flex;

    
}