.user-info{
    display:flex;
    padding-left:15%;
    padding-right:15%;
}

.user-info__name{
    color: #414c63;
    font-size: 72px;
    font-weight: 700;
    line-height: 60px;
}

.user-info__desc{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}