.values__title-text{
    display:flex;
    margin-bottom:60px;
}

.values__title{
    position: relative;
    padding: 8.75rem 25% 5.5rem;
}

.values__desc{
    opacity: 0.5;
}


.gradient{
    height:0;
}

.values__container{
    position: relative;
}

.values__container::before{
    content: "";
    position: absolute;
    display: block;
    bottom: 5%;
    height: 70%;
    width: 100%;
    left: -30%;
    background: url(../images/content/backpack.png) 0 100%/contain no-repeat;
    
}