.tags{
    display: flex;
    flex-wrap: wrap;
}

.tags__item{
    
    margin-top: 0.9375rem;
    padding: 0.8125rem 1.3125rem;
    background: #f4f4f4;
    font-size: 13px;
    font-weight: 600;
    color: #283340;
    border-radius: 50px;
}